@import './styles/reset.scss';
// Store View
@import './styles/track.scss';
@import './styles/lineitem.scss';
@import './styles/buttonA.scss';
// Receipt Generator
@import './styles/receipt.scss';

body {
    height: 100vh;
    width: 100vw;
    background: #222239;

    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
