.FormPost-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FormPost-input {
    height: 50px;
    width: 300px;
    
    padding: 10px;
    margin-bottom: 5px;
    
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}