body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background {
    height: 383px;
    width: 1080px;

    position: relative;

    background-image: url('./images/background.png');
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

#red, #blue {
    height: 200px;
    width: 200px;
    position: absolute;
}

#red {
    bottom: 0;
    left: 0;
}

#blue{
    bottom: 0;
    right: 0;
}

.reaction-time {
    width: 100%;    

    margin-top: 75px;

    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

.rOne {
    background-image: url('./images/red-1.png');
}

.rSlash {  
    background-image: url('./images/red-1.png'); 
    animation-name: redSlash;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes redSlash {
    0% {background-image: url('./images/red-1.png'); left: 0;}
    30% {background-image: url('./images/red-2.png');}
    40% {background-image: url('./images/red-3.png');}
    99% {background-image: url('./images/red-4.png');}
    100% {background-image: url('./images/red-1.png'); left: 80%;}
}

.bOne {
    background-image: url('./images/blue-1.png');
}

.bSlash {  
    background-image: url('./images/blue-1.png'); 
    animation-name: blueSlash;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes blueSlash {
    0% {background-image: url('./images/blue-1.png'); right: 0;}
    30% {background-image: url('./images/blue-2.png');}
    40% {background-image: url('./images/blue-3.png');}
    99% {background-image: url('./images/blue-4.png');}
    100% {background-image: url('./images/blue-1.png'); right: 80%;}
}

.jumbotron {
    font-size: 80px;
    font-weight: 900;
    font-family: 'Permanent Marker', cursive;

    color: red;

    text-shadow:
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}